@use '../variables/colors';

#cardslist {
    padding: 48px;
}

.container__cardslist {
    max-width: 1300px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 40px;
}

.cardslist {

    &__title {
        margin-top: 2%;
    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 72px;
        color: colors.$mainText;
        position: relative;

        @media (max-width: 767px) {
            font-size: 44px;
            margin-top: 14px;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 74px;
            margin-bottom: 36px;
            margin-top: 44px;
            }
        }
    }

    &__list {

        
        @media (max-width: 767px) {
            margin-left: 25%;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-left: 8%;
        }

        .row {
        gap: 124px;
        text-align: center;
        margin-left: 42px;

        @media (max-width: 767px) {
            gap: 80%;
            }

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-left: 1%;
            gap: 40%;
            }
        }

        .col-3 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                text-align: center;
                font-size: 22px;
                margin-top: 12px;
                width: 105%;

                @media (max-width: 767px) {
                    text-align: center;
                    width: 200px;
                }
        
                @media (min-width: 768px) and (max-width: 1024px) {
                    text-align: center;
                    width: 200px;
                }
            }

            img {
                @media (max-width: 767px) {
                    width: 200px;
            }
        }
    }
}

    &__card {
        display: flex;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 28px;
            font-weight: bold;
            margin-top: 24px;
            margin-bottom: 16px;

            @media (max-width: 767px) {
                font-size: 18px;
                margin-top: 30px;
            }

        }

        p {
            font-size: 18px;
            line-height: 14px;

            @media (max-width: 767px) {
                font-size: 12px;
                line-height: 12px;
            }
        }
        .linebreak-text {
            line-height: 32px;
            @media (max-width: 767px) {
                line-height: 16px;
            }
        }

        ul {
            list-style: none;
            margin-right: 40px;
            @media (max-width: 767px) {
                padding: 0;
                margin-left: 32px;
            }
        }
        img {
            margin-top: 18px;
            width: 200px;
            @media (max-width: 767px) {
                width: 120px;
            }
        }

        .item-price {
            margin-top: 20px;
            font-size: 62px;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                font-size: 38px;
                margin-top: 4px;
            }
        }

        &__total,
        &__local,
        &__flyer {
            position: fixed;
            top: 1vh;
            padding: 22px 48px 36px 48px;
            display: none;
            text-align: center;
            background-color: colors.$secText;
            border-radius: 20px;
            box-shadow: 0 1px 120px 2px colors.$mainText;
            z-index: 1;

            @media (max-width: 767px) {
                padding: 10px 0;
                top: 6vh;
            }
            
            @media (min-width: 768px) and (max-width: 1024px) {
                top: 12vh;
            }
        }
    }
}

.close-btn-1,
.close-btn-2,
.close-btn-3 {
    position: absolute;
    top: 28px;
    font-size: 32px;
    background: none;
    outline: none;
    border: none;

    @media (max-width: 767px) {
        font-size: 28px;
        left: 14px;
        top: 8px;
    }

    &:hover {
        color: #c00404;
    }
}

.buy-options {
    gap: 20px;
}
.amount,
.size {
    width: 50%;
    margin-top: 8px;
    padding: 4px 4px;
    outline: 0;
    border: 0;
    font-size: 22px;
    background: colors.$scndBgColor;
    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.budget-button {
    top: 20px;
    @media (max-width: 767px) {
        top: 12px;
    }
}


