@use '../variables/colors';

#cardslist {
    padding: 48px;

    @media (max-width: 767px) {
        padding-bottom: 4vh;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        padding-bottom: 5vh;
        }
}

.cardslist {

    &__title {
        h1 {
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            font-size: 42px;
            color: colors.$mainText;
            margin-top: 18px;
            
            @media (max-width: 767px) {
                font-size: 8vw;
                text-align: center;
                margin-bottom: 2.5vh;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 6vw;
                text-align: center;
                margin-top: 3vh;
                margin-bottom: 1.5vh;
                }
            }
    }

    &__list {

        .row {
        gap: 124px;
        text-align: center;
        margin-left: 42px;

        @media (max-width: 767px) {
            gap: 80%;
            display: flex;
            justify-content: center;
            margin: 0;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                gap: 35%;
                display: flex;
                margin-left: 10vw;
                }
        }

        .col-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                text-align: center;
                font-size: 22px;
                margin-top: 12px;
                width: 105%;
                @media (max-width: 767px) {
                    font-size: 6.5vw;
                    width: 90vw;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        font-size: 3vw;
                        width: 200%;
                    }
            }

            img {
                @media (max-width: 767px) {
                    width: 35vw;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                width: 35vw;
            }
        }
    }
}

    &__card {
        margin: auto;
        max-width: 38vw;

        h1 {
            font-size: 2.25vw;
            font-weight: bold;
            text-align: center;
            margin-bottom: 3vh;

            @media (max-width: 767px) {
                font-size: 5vw;
                margin-bottom: 2vh;
                margin-top: 2vh;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 6.6vw;
                }
        }

        p {
            font-size: 1.2vw;
            line-height: 2vh;
            padding: 0 22px;
            margin-bottom: 2.5vh;

            @media (max-width: 767px) {
                font-size: 5vw;
                line-height: 2.5vh;
                text-align: center;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 3vw;
                    line-height: 2vh;
                }
        }

        .linebreak-text {
            line-height: 32px;

            @media (max-width: 767px) {
                line-height: 2.5vh;
            }
        }

        .item-price {
            font-size: 3vw;
            margin: 1vh;

            @media (max-width: 767px) {
                font-size: 8vw;
                margin-top: 0;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 6vw;
                }
        }

        &__total,
        &__local,
        &__flyer {
            display: none;
            position: fixed;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: colors.$secText;
            border-radius: 4px;
            box-shadow: 0 1px 50px 2px colors.$mainText;
            z-index: 1;

            @media (max-width: 767px) {
                width: 100%;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 90%;
                    }


            img {
                width: 80%;
                margin-bottom: 1vw;
                margin-top: 5vh;

                @media (max-width: 767px) {
                    margin-top: 8vh;
                    width: 85%;
                    }

                    @media (min-width: 768px) and (max-width: 1023px) {
                        margin-bottom: 6vw;
                    }
            }

            .button {
                width: 100%;
                text-align: center;
                padding: 2vh 0;
                font-size: 2vw;
                color: rgb(255, 255, 255);
                font-weight: bold;
                background-color: colors.$btnColor;
                text-decoration: none;

                &:hover {
                    transition: all ease .2s;
                    background-color: colors.$btnHoverColor;
                }

                @media (max-width: 767px) {
                    font-size: 6vw;
                    }

                    @media (min-width: 768px) and (max-width: 1023px) {
                        font-size: 3.3vw;
                    }
                }
            }
        .close-btn-1,
        .close-btn-2,
        .close-btn-3 {
            position: absolute;
            font-size: 3vh;
            left: 1vw;
            top: 1vh;
            border: none;
            background: none;
            &:hover {
                color: #c00404;
            }

            @media (max-width: 1023px) {
                left: 2vw;
            }
        }
    }
}

.buy-options {
    gap: 20px;
}
.amount,
.size {
    width: 12vw;
    margin-top: 0vh;
    padding: .2vh .2vw;
    outline: 0;
    border: 0;
    font-size: 22px;
    background: colors.$scndBgColor;

    @media (max-width: 767px) {
        width: 50vw;
        margin: 0;
        font-size: 4vw;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            width: 30vw;
            padding: 0 1vw;
            font-size: 3.5vw;
            margin: 0;
        }
}





