@use "../variables/colors";

.facadetitle {
    position: relative;
    margin-top: 5%;
    @media (max-width: 767px) {
        margin-top: 18%;
        overflow-x: hidden;
    }
    &__title {

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 52px;
    font-weight: 600;
    color: colors.$mainText;
    position: relative;
    margin-bottom: 12px;

    @media (max-width: 767px) {
        font-size: 10vw;
        text-align: center;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 74px;
        margin-bottom: 36px;
        margin-top: 90px;
        width: 90%;
            }
        }
    }

    &__carousel {
        position: relative;

        .carousel {
            &-inner {
            display: flex;
            text-align: center;
            width: 100%;
            @media (max-width: 767px) {
                width: 130%;
                margin-left: -10vw;
            }
        }

                &-item {
                    position: relative;
                    img {
                min-width: 100%;

                @media (max-width: 1600px) {
                max-width: 90%;
                    }
                }
            }

            }
        .fa-chevron-left,
        .fa-chevron-right {
            font-size: 36px;
            color: colors.$secText;
            opacity: 70%;

            @media (max-width: 1024px) {
                display: none;
            }
            
        }

        .carousel-control-prev,
        .carousel-control-next {
            transition: all ease .2s;
            
            @media (min-width: 1024px) {
                &:hover {
                    color: colors.$mainText;
                }
            }
        }
            p {
                position: absolute;
                width: 50%;
                left: 25%;
                bottom: 1%;
                z-index: 1;
                font-size: 32px;
                text-align: center;
                color: colors.$secText;

                @media (max-width: 767px) {
                    font-size: 12px;
                    width: 100%;
                    left: 1%;
                    bottom: -2px;
                }

                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 20px;
                    width: 80%;
                    left: 12%;
                }
            }
        }
    }