// BACKGROUND COLORS

$mainBg: #ffd60a;
$secBg: #ecd138;
$qstBg: #f8d839ef;
$frstBgColor:rgb(241, 241, 241);
$scndBgColor:rgb(230, 230, 230);


// TEXT COLORS
$mainText: #131313;
$secText: #f1f1f1;
$footerText: #b3b2b2;



// SOCIALS COLORS
$fbColor: #4267B2;
$igColor: #C13584;