@use '../variables/colors';

#contact {
    padding: 48px;
    background-color: colors.$scndBgColor;
}

.container__contact {
    max-width: 1200px;
    width: 100%;
}

.contact {
    &__title {
        h1 {
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 52px;
            color: colors.$mainText;
            position: relative;

            @media (max-width: 767px) {
                font-size: 7vw;
                margin-bottom: 2vh;
                text-align: center;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 5.3vw;
                margin-bottom: 2vh;
            }
        }
    }

        &__info {
            display: flex;
            align-items: center;
            font-size: 32px;
            @media (max-width: 1024px) {
                flex-direction: column;
                }
        }
        &__text {
            width: 80%;
            line-height: 50px;
            margin-right: 80px;
            background: rgb(230,230,230);
            background: linear-gradient(270deg, rgba(230,230,230,1) 0%, #ffcc24 90%);
            padding: 20px;
            border-radius: 20px;

            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                width: 100%;
                margin-right: 0;
                background: linear-gradient(360deg, rgba(230,230,230,1) 0%, #ffcc24 90%);
                }
                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 26px;
                    line-height: 42px;
                    text-align: center;
                    margin-left: 62px;
                    background: linear-gradient(360deg, rgba(230,230,230,1) 0%, #ffcc24 90%);
                    }
        }
        &__img {
            img {
                width: 95%;
                margin-left: 10%;
        }
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            margin-top: 5vw;
            }
            @media (max-width: 767px) { 
                width: 90%;
                margin-top: 0;
                }
            @media (min-width: 768px) and (max-width: 1024px) { 
                width: 50%;
                }
            
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}

.animated-button {

    @media (max-width: 1023px) {
        position: relative;
        font-size: 5vw;
        font-weight: 600;
        text-decoration: none;
        background-color: #ffac24;
        color: colors.$secText;
        padding: 1rem 4.5vw;
        text-align: center;
        border-radius: 3px;
        margin-top: 4vh;

        &::before {
            content: '\f232';
            font-size: 5vw;
            font-family: "Font Awesome 6 brands";
            margin-right: 3.5vw;
            padding: 0vw;
            color: colors.$secText;
        }
    }

    @media (min-width: 1024px ) {
        background: #ffac24;
        color: #fff;
        cursor: pointer;
        font-weight: 500;
        font-size: 3vw;
        padding: 1rem 5vw;
        border: 0;
        transition: all ease 0.5s;
        border-radius: 10px;
        position: relative;
        text-decoration: none;
        justify-content: center;
        margin: 0 auto;
        top: 6vh;

    &::after {
        content: '\f232';
        font-family: "Font Awesome 6 brands"; 
        color: colors.$secText;
        font-size: 4vw;
        position: absolute;
        left: 29.5vw;
        top: 0.2vh;
        right: 5%;
        bottom: 0;
        opacity: 0;
    }

    &:hover {
        background: #16c72def;
        color: colors.$secText;
        transition: all ease 0.3s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #16c72e9f;
        padding: 1rem 10rem 1rem 3rem;

        &::after {
            opacity: 1;
            transition: all ease 0.25s;
            padding: 0rem 4.5rem 0rem 0rem;
            }
        }
    }
}


