@use '../variables/colors';

#footer {
    background-color: rgb(27, 25, 25);
    padding: 10px;
    padding-bottom: 52px;
}

.container__footer {
    position: relative;
    width: 1400px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    @media (max-width: 767px) {
        flex-direction: column;
    }

}

.footer-logo {
    img {
        margin-left: 11.3%;
        margin-top: 20px;
        width: 13%;

        @media (max-width: 767px) {
            width: 40%;
            margin-left: 25%;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            width: 20%;
            margin-left: 14%;
        }
    }
}

.footer {
    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;

        .address {
                font-size: 16px;
                @media (max-width: 767px) {
                    font-size: 80%;
                    width: 70%;
                    text-align: center;
                    margin-top: 12px;
                }
                @media (min-width: 768px) and (max-width: 1024px) {
                    text-align: center;
                }
        }
        p {
            font-size: 18px;
            color: colors.$footerText;
            @media (max-width: 767px) {
                font-size: 90%;
            }
        }

        &__logo {
            display: flex;
            margin-top: -18px;
            gap: 30px;
            font-size: 42px;
            @media (max-width: 767px) {
                gap: 30px;
                font-size: 32px;
                margin-top: -10px;
            }
        }

        a {
            color: colors.$secText;
            &:hover {
            color: colors.$footerText;
            }
        }
    }
    &__payment {
        text-align: center;
        color: colors.$footerText;
        margin-top: 4px;
        @media (max-width: 767px) {
            font-size: 80%;
        }
    }
    &__copy {
    position: absolute;
    bottom: -3em;
    left: 2em;
    color: colors.$footerText;
    @media (max-width: 767px) {
        font-size: 80%;
    }
    }
    &__contact {
        margin-top: 4px;
        text-align: center;
        width: 30%;
        color: colors.$footerText;
        @media (max-width: 767px) {
            font-size: 80%;
            width: 100%;
        }
    }
}
