@use '../variables/colors';

#location {
        padding: 48px;
            background-color: colors.$scndBgColor;
    }

.container__location {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.location {
    &__text {
        h1 {
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 52px;
            color: colors.$mainText;
            position: relative;
            @media (max-width: 767px) {
                font-size: 7vw;
                margin-bottom: 2vh;
                text-align: center;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 5.3vw;
                    margin-bottom: 2vh;
                }
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: colors.$mainBg;
        border-radius: 36px;
        padding: 20px 0;
        @media (max-width: 767px) {
            width: 120%;
            padding: 14px;
            margin-left: -22px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 100%;
                margin: 0;
                }

        p {
        color: black;
        margin-bottom: 0;
        margin-top: 4px;
        font-size: 22px;
        @media (max-width: 767px) {
            font-size: 12px;
            }

            i {
            margin-right: 8px;
            }
        }
    }

        h3 {
            text-align: center;
            margin: 28px 0;
            @media (max-width: 767px) {
                width: 140%;
                }
        }

    &__gps {
        margin-bottom: 24px;
        iframe {
            width: 100%;
        }
    }

    &__local-services {
        display: flex;
        line-height: 44px;
        
        @media (max-width: 1024px) {
            display: block;
            }

        &__list {
        ul {
            margin-top: 5%;
            margin-bottom: 5%;
            align-items: center;
            @media (max-width: 1024px) {
                margin-top: 0;
                }
        }

        li {
            list-style: none;
            font-size: 26px;
            width: 120%;

            @media (max-width: 767px) {
                width: 140%;
                font-size: 18px;
                line-height: 32px;
                margin-left: -20%;
                overflow-x: hidden;
                }
                @media (min-width: 768px) and (max-width: 1024px) { 
                    line-height: 44px;
                    width: 100%;
                    }
        }

        i {
            text-align: center;
            margin: 0;
                }
            }
            &__img {
                img {
                    width: 45%;
                    margin-left: 50%;
                    margin-top: -50px;

                    @media (max-width: 767px) {
                        display: flex;
                        margin: 0 auto;
                        width: 65%;
                    }

                    @media (min-width: 768px) and (max-width: 1024px) {
                        width: 40%;
                        display: flex;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

h3 {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 28px;
    @media (max-width: 767px) {
        margin-top: 28px;
        width: 120%;
        font-size: 20px;
        margin-left: -18px;
        }
        @media (min-width: 768px) and (max-width: 1024px) { 
            font-size: 32px;
            }
}