@use '../variables/colors';

#socials {
    padding: 48px;
}

.container__socials {
    max-width: 1200px;
    width: 100%;
    margin-top: 24px;
}

.socials {
        &__title {
        h1 {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 72px;
            color: colors.$mainText;
            position: relative;
            @media (max-width: 767px) {
                font-size: 36px;
                text-align: center;
                padding-right: 46%;
                }
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 767px) {
                text-align: center;
                margin-top: 20px;
                }
            p {
                font-size: 26px;
                @media (max-width: 767px) {
                    font-size: 20px;
                    }
            }
        }
        &__links {
            display: flex;
            font-size: 46px;
            gap: 40px;
            @media (max-width: 767px) {
                font-size: 30px;
                gap: 50px;
                margin-top: 12px;
                }

            a {
                padding: 16px 30px;
                color: colors.$mainText;
                background-color: colors.$mainBg;
                border-radius: 360px;
                transition: ease all .1s;
                @media (max-width: 767px) {
                    padding: 10px 20px;
                    }
            }
        }
    }

    .fb-link:hover {
        background-color: colors.$fbColor;
        color: colors.$secText;
    }

    .ig-link:hover {
        background-color: colors.$igColor;
        color: colors.$secText;
    }